﻿@model PassionProject1N01659860.Models.CommentsDto

@{
    ViewBag.ArtID = "Edit";
}

<h2 class="mb-4">Update Comment</h2>

<form action="/Comments/Update/@Model.CommentID" method="POST">
    <h3>@Model.Title</h3>
    <div style="display:none;">
        <input type="text" name="CommentID" value="@Model.CommentID" />
    </div>
    <div class="form-group mb-3">
        <label class="mb-2" for="CommentText">CommentText</label>
        <textarea class="form-control" id="CommentText" name="CommentText" value="@Model.CommentText" required>@Model.CommentText</textarea>
    </div>
    <div class="form-group mb-3 d-none">
        <label class="mb-2" for="DateCommented">Date Commented</label>
        <input type="date" class="form-control" id="DateCommented" name="DateCommented" required />
    </div>
    <div class="form-group mb-3 d-none">
        <input type="number" class="form-control" id="ArtID" name="ArtID" value="@Model.ArtID" readonly />
    </div>
    <div class="form-group mb-3 d-none">
        <input type="number" class="form-control" id="UserID" name="UserID" value="@Model.UserID" readonly />
    </div>
    <div>
        <input type="submit" value="Update Comment" class="btn btn-warning" />
    </div>
</form>

<script>
    document.getElementById("DateCommented").valueAsDate = new Date();
</script>