﻿@model PassionProject1N01659860.Models.ArtDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<a href="/Art/List">Go back to list</a>
<br />
<a href="/Art/Edit/@Model.Art.ArtID">Update</a>
<br />
<a style="color:#ab2020;" href="/Art/DeleteConfirm/@Model.Art.ArtID">Delete</a>
<h2>@Model.Art.Title</h2>
<img src="@Model.Art.ImageURL" alt="@Model.Art.Title" />
<div><strong>Artist:</strong> @Model.Art.Artist</div>
<div><strong>Description:</strong> @Model.Art.Description</div>
<div><strong>Medium:</strong> @Model.Art.Medium</div>
<div><strong>Location:</strong> @Model.Art.Location</div>
<div><strong>Year Installed:</strong> @Model.Art.YearInstalled.ToString("yyyy")</div>

<h3>Comments</h3>
@if (Model.Comments != null && Model.Comments.Any())
{
    foreach (var comment in Model.Comments)
    {
        <div style="border:1px solid #808080; padding: 1rem; border-radius:1rem; margin-top:1rem;">
            <p>@comment.CommentText</p>  
            <p><strong>Commented by:</strong> <a href="/User/Details/@comment.UserID">@comment.UserName</a></p>
            <small>@comment.Email</small>
            <p><strong>Date Commented:</strong> @comment.DateCommented.ToString("yyyy-MM-dd")</p>
            <a href="/Comments/DeleteConfirm/@comment.CommentID" style="color:#ab2020;">Delete</a>
        </div>
        <hr />
    }
}
else
{
    <p>No comments yet.</p>
}