﻿@model PassionProject1N01659860.Models.Art

@{
    ViewBag.Title = "Edit";
}

<h2 class="mb-4">Update Art</h2>

<form action="/Art/Update/@Model.ArtID" method="POST" class="row">
    <div style="display:none;">
        <input class="form-control" type="text" name="ArtID" value="@Model.ArtID" />
    </div>
    <div class="form-group col-md-6 mb-3">
        <label>Art Title:</label>
        <input class="form-control" type="text" name="Title" value="@Model.Title" />
    </div>
    <div class="form-group col-md-6 mb-3">
        <label>Artist Name:</label>
        <input class="form-control" type="text" name="Artist" value="@Model.Artist" />
    </div>
    <div class="form-group col-12 mb-3">
        <label>Description:</label>
        <textarea class="form-control" name="Description" rows="5">@Model.Description</textarea>
    </div>
    <div class="form-group col-md-6 mb-3">
        <label>Image URL:</label>
        <input class="form-control" type="text" name="ImageURL" value="@Model.ImageURL" />
    </div>
    <div class="form-group col-md-6 mb-3">
        <label>Location:</label>
        <input class="form-control" type="text" name="Location" value="@Model.Location" />
    </div>
    <div class="form-group col-md-4 mb-3">
        <label>Medium:</label>
        <input class="form-control" type="text" name="Medium" value="@Model.Medium" />
    </div>
    <div class="form-group col-md-4 mb-3">
        <label>Year Installed:</label>
        <input class="form-control" type="date" name="YearInstalled" value="@Model.YearInstalled.ToString("yyyy-MM-dd")" />
    </div>
    <div class="form-group col-md-4 mb-3">
        <label>Image Orientation:</label>
        <input class="form-control" type="text" name="ImageOrientation" value="@Model.ImageOrientation" />
    </div>
    <div class="form-group mb-3">
        <input class="btn btn-warning" type="submit" value="Update Art" />
    </div>
</form>