﻿@model PassionProject1N01659860.Models.ArtDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<a href="/User/List" class="btn btn-lg btn-info mb-3"><i class="fa-solid fa-chevron-left p-2 me-2"></i>Go back to list</a>
<div class="card bg-secondary-subtle">
    <div class="card-body">
        <h4 class="card-title">@Model.User.UserName</h4>
        <p class="card-text">@Model.User.Email</p>
        <p class="card-text card-text-one"><small class="text-muted">@Model.User.DateJoined</small></p>
        <div class="d-flex align-items-center">
            <a href="/User/Edit/@Model.User.UserID" class="btn btn-warning me-2 mb-2">Update</a>
            <a href="/User/DeleteConfirm/@Model.User.UserID" class="btn btn-danger mb-2">Delete</a>
        </div>
    </div>
</div>

<div class="comment-block my-4">
    <h3 class="mb-4">Comments</h3>
    <div class="row">
        @if (Model.Comments != null && Model.Comments.Any())
        {
            foreach (var comment in Model.Comments)
            {
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-md-flex justify-content-between">
                                <div>
                                    <h5 class="card-title">@comment.Title</h5>
                                    <h6 class="card-subtitle art-artist mb-2"><small><em>@comment.Artist</em></small></h6>
                                </div>
                                <p class="text-body-tertiary">
                                    <small><i class="fa-regular fa-calendar-days me-2"></i> @comment.DateCommented</small>
                                </p>
                            </div>
                            <p class="card-text">@comment.CommentText</p>
                            <a href="/Art/Details/@comment.ArtID" class="btn btn-secondary me-2 mb-3 mb-sm-0">Show Details</a>
                            <a href="/Comments/DeleteConfirm/@comment.CommentID" class="btn btn-outline-danger">Delete</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Not commented in any art yet.</p>
        }
    </div>
</div>